<template name="header">
	<nav>
		<div class="container">
			<img id="logo" alt="Wrangler" src="/images/logo-sm-black.png">

			<div id="socialButtons">
				<a href="#" alt="https://facebook.com"><img id="facebook" src="/images/facebook.png"></a>
				<a href="#" alt="https://instagram.com"><img id="instagram" src="/images/instagram.png"></a>
				<a href="#" alt="https://twitter.com"><img id="twitter" src="/images/twitter.png"></a>
				<div id="mainMenu"></div>
			</div>

		</div>
	</nav>
</template>
