<template name="mainPage">
	{{> header}}
	<section id="backgroundArt">
		<div class="row">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-4"></div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-7">

				<div class="content">
					<div id="wandererBadge">
						<img src="/images/wanderer-badge.png" alt="Search for True Wanderers by Wrangler" />
					</div>

					<header>Journey into the Open Road</header>

					<div id="submitNowTopButton">Participate and Win a Superbike</div>
				</div>

			</div>
		</div>
	</section>
	{{> footer}}
</template>
